{% extends 'bases/layout.html' %}
{% block title %}Notes{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', path='note.css') }}">{% endblock %}
{% block content %}
    {% include 'pages/notes/header.html' %}
    <div class="card">
        <div class="tab-content p-4">
            <div class="tab-pane active show" id="notes-tab" role="tabpanel">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title mb-4">
                        Notes <span class="total-notes">({{ total_notes }})</span>
                    </h4>
                    <div class="pagination mb-4">
                        {% if prev_page %}<a href="{{ WEB_URL }}/notes?page={{ current_page - 1 }}">Previous</a>{% endif %}
                        {% if next_page %}<a href="{{ WEB_URL }}/notes?page={{ current_page + 1 }}">Next</a>{% endif %}
                    </div>
                </div>
                <div class="row" id="all-projects">
                    {% for note in notes %}
                        {% with note=note %}
                            {% include 'pages/notes/note-card.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {% include 'components/about.html' %}
    {% include 'components/personal-detail.html' %}
    {% include 'components/work-experience.html' %}
{% endblock %}
