<div class="task-list-box" id="landing-task">
  <div id="{{task.id}}">
    <div class="card task-box rounded-3">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-xl-10 col-sm-10">
            <div class="checklist form-check font-size-15">
              <input type="checkbox" class="form-check-input" {% if task['status']=='- ✅' %}checked{%endif %}>
              <label class="form-check-label ms-1 task-title" for="customCheck1">
                {{task['task_type']}} {{task['annotation']}} {{task['description']}}
              </label>
            </div>
          </div><!-- end col -->
          <div class="col-xl-2 col-sm-2">
            <div class="row align-items-center">
              <div class="col-xl-12 col-md-12 col-sm-12">
                <div class="d-flex flex-wrap justify-content-md-end">
                  <div>
                    <span class="badge
                          {% set status_category = task['status'] + category %}
                          {% if status_category in ['- ⌛today', '- ✅today'] %}
                            {% set badge_class = 'bg-warning text-dark' if status_category == '- ⌛today' else 'bg-success' %}
                            {% set text = 'In Progress' if status_category == '- ⌛today' else 'Done' %}
                          {% elif status_category in ['- ❌yesterday', '- ✅yesterday'] %}
                            {% set badge_class = 'badge-soft-danger' if status_category == '- ❌yesterday' else 'bg-success' %}
                            {% set text = 'Not done' if status_category == '- ❌yesterday' else 'Done' %}
                          {% elif status_category in ['- ⌛high_priority', '- ✅high_priority'] %}
                            {% set badge_class = 'bg-danger' if status_category == '- ⌛high_priority' else 'bg-success' %}
                            {% set text = 'Let\'s complete first 🔪' if status_category == '- ⌛high_priority' else 'Done' %}
                          {% endif %}
                          font-size-11 task-status {{ badge_class }}">
                      {{ text }}
                    </span>
                  </div>
                </div>
              </div><!-- end col -->
            </div><!-- end row -->
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end cardbody -->
    </div><!-- end card -->
  </div>
</div><!-- end -->
