{% extends 'bases/layout.html' %}
{% block title %}Tasks{% endblock %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', path='task.css') }}">{% endblock %}
{% block content %}
    {% include 'pages/tasks/header.html' %}
    <div class="card">
        <div class="tab-content p-4">
            <!-- High Priority Tasks -->
            <div class="tab-pane active show split-block"
                 id="tasks-tab"
                 role="tabpanel">
                <h4 class="card-title mb-4">
                    🔥 High Priority Tasks <span class="total-tasks">({{ total_high_priority_tasks }})</span>
                </h4>
                <div class="row">
                    <div class="col-xl-12">
                        {% for task in high_priority_tasks %}
                            {% with task=task, category='high_priority' %}
                                {% include 'pages/tasks/task-detail.html' %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end tab pane -->
            <!-- Today Tasks -->
            <div class="tab-pane active show split-block"
                 id="tasks-tab"
                 role="tabpanel">
                <h4 class="card-title mb-4">
                    ⌛ Today Tasks <span class="total-tasks">({{ total_today_tasks }})</span>
                </h4>
                <div class="row">
                    <div class="col-xl-12">
                        {% for task in today_tasks %}
                            {% with task=task, category='today' %}
                                {% include 'pages/tasks/task-detail.html' %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end tab pane -->
            <!-- Yesterday Tasks -->
            <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                <h4 class="card-title mb-4">
                    📆 Yesterday Tasks <span class="total-tasks">({{ total_yesterday_tasks }})</span>
                </h4>
                <div class="row">
                    <div class="col-xl-12">
                        {% for task in yesterday_tasks %}
                            {% with task=task, category='yesterday' %}
                                {% include 'pages/tasks/task-detail.html' %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end tab pane -->
        </div>
        <!-- end tab content -->
    </div>
    <!-- end card -->
{% endblock %}
{% block sidebar %}
    {% include 'components/about.html' %}
    {% include 'components/personal-detail.html' %}
    {% include 'components/work-experience.html' %}
{% endblock %}
