{% extends 'bases/layout.html' %}
{% block title %}Projects{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', path='project.css') }}">{% endblock %}
{% block content %}
    {% include 'pages/projects/header.html' %}
    <div class="card">
        <div class="tab-content p-4">
            <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                <div class="d-flex align-items-center">
                    <div class="flex-1">
                        <h4 class="card-title mb-4">
                            Projects <span class="total-project">({{ total_projects }})</span>
                        </h4>
                    </div>
                </div>
                <div class="row" id="all-projects">
                    {% for project in projects %}
                        {% with project=project %}
                            {% include 'pages/projects/project-card.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <!-- end row -->
            </div>
            <!-- end tab pane -->
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {% include 'components/about.html' %}
    {% include 'components/personal-detail.html' %}
    {% include 'components/work-experience.html' %}
{% endblock %}
