<div class="card">
  <div class="card-body">
    <div class="pb-2">
      <h4 class="card-title mb-3">About</h4>
      <p>I'm harrylowkey, a backend developer. <br> Currently, I'm diving into database optimization, mastering
        DevOps practices, and tweaking my workflow in Neovim for maximum efficiency.</p>
      <ul class="ps-3 mb-0">
        <li>Learning: AWS Developer Associate Certification </li>
        <li>Reading: Design Pattern Guru</li>
      </ul>
      <!-- end ul -->
    </div>
    <hr>
    <div class="pt-2">
      <h4 class="card-title mb-4">My Skill</h4>
      <div class="d-flex gap-2 flex-wrap">
        <span class="badge badge-soft-secondary p-2">Nodejs</span>
        <span class="badge badge-soft-secondary p-2">Python</span>
        <span class="badge badge-soft-secondary p-2">Microservices</span>
        <span class="badge badge-soft-secondary p-2">CI/CD</span>
        <span class="badge badge-soft-secondary p-2">Kubernetes</span>
        <span class="badge badge-soft-secondary p-2">AWS</span>
      </div>
    </div>
  </div><!-- end cardbody -->
</div><!-- end card -->
