<div class="card">
  <div class="card-body">
    <div class="pb-2">
      <h4 class="card-title mb-3">About</h4>
      <p>I'm harrylowkey, a backend developer. <br> Currently, I'm diving into database optimization, mastering
        DevOps practices, and tweaking my workflow in Neovim for maximum efficiency.</p>
      <ul class="ps-3 mb-0">
        <li>Learning: AWS Developer Associate Certification </li>
        <li>Reading: Design Pattern Guru</li>
      </ul>
      <!-- end ul -->
    </div>
    <hr>
    <div class="pt-2">
      <h4 class="card-title mb-4">My Skill</h4>
      <div class="d-flex gap-2 flex-wrap">
        <span class="badge bg-success p-2">nodejs</span>
        <span class="badge bg-primary p-2">python</span>
        <span class="badge bg-secondary p-2">microservices</span>
        <span class="badge bg-danger p-2">ci/cd</span>
        <span class="badge bg-primary p-2">k8s</span>
        <span class="badge bg-warning text-dark p-2">aws</span>
      </div>
    </div>
  </div><!-- end cardbody -->
</div><!-- end card -->
