<div class="card">
  <div class="card-body">
    <div>
      <h4 class="card-title mb-4">Work Experince</h4>
      <ul class="list-unstyled work-activity mb-0">
        <li class="work-item" data-date="Jul 21-Now">
          <h6 class="lh-base mb-0">Hodfords</h6>
          <p class="font-size-13 mb-2">Backend Developer</p>
          <p>Microservices, Code Review, CI/CD</p>
        </li>
        <li class="work-item" data-date="Jun 20-21">
          <h6 class="lh-base mb-0">Corize Company</h6>
          <p class="font-size-13 mb-2">Backend Developer</p>
          <p>Employee Management Application</p>
        </li>
        <li class="work-item" data-date="Jul 19-20">
          <h6 class="lh-base mb-0">Midas Protocol</h6>
          <p class="font-size-13 mb-0">Backend Developer</p>
          <p class="font-size-13 mb-2">Fresher Backend</p>
          <p class="mb-0">Crypto, wallet domains</p>
        </li>
        </p>
        </p>
        </h6>
        </li>
      </ul><!-- end ul -->
    </div>
  </div><!-- end card-body -->
</div><!-- end card -->
