<div class="card">
  <div class="card-body pb-0">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="text-center border-end">
          <img
            src="https://img.freepik.com/free-vector/cute-astronaut-working-laptop-cartoon-vector-icon-illustration-science-technology-icon-isolated_138676-4634.jpg?w=900&t=st=1710698177~exp=1710698777~hmac=6dcee222fbb754582fe608807f348cca60803839d5d6f4d317aaae883902f3e5"
            class="img-fluid avatar-xxl rounded-circle" alt="">
          <h4 class="text-primary font-size-20 mt-3 mb-2">Harry Dang</h4>
          <h5 class="text-muted font-size-13 mb-0">Web Developer</h5>
        </div>
      </div><!-- end col -->
      <div class="col-md-9">
        <div class="ms-3">
          <div>
            <h4 class="card-title mb-2">Web Developer</h4>
            <p class="mb-0 text-muted">Hi I'm harrylowkey, a backend guy who's facinated about database, devops,
              neovim.</p>
          </div>

          <div class="row my-4">
            <div class="col-md-12">
              <div>
                <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>harrydang.tech@gmail.com
                </p>
                <p class="text-muted fw-medium mb-0"><i class="mdi mdi-github me-2"></i>
                  <a href="https://github.com/harrylowkey" target="__blank">harrylowkey</a>
                </p>
              </div>
            </div><!-- end col -->
          </div><!-- end row -->

          <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link px-4 " href="{{ WEB_URL }}/projects" target="__blank">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Projects</span>
              </a>
            </li><!-- end li -->
            <li class="nav-item" role="presentation">
              <a class="nav-link px-4 active" data-bs-toggle="tab" href="#tasks-tab" role="tab" aria-selected="false"
                tabindex="-1">
                <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                <span class="d-none d-sm-block">Tasks</span>
              </a>
            </li><!-- end li -->
            <li class="nav-item" role="presentation">
              <a class="nav-link px-4" data-bs-toggle="tab" href="{{ WEB_URL }}/notes" role="tab"
                aria-selected="false" tabindex="-1">
                <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                <span class="d-none d-sm-block">Notes</span>
              </a>
            </li>
            </span>
            </i></span>
            </a>
            </li>
          </ul><!-- end ul -->
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end card body -->
</div><!-- end card -->
